<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <link rel="shortcut icon" type="image/png" href="https://dcgc.io/favicon.ico">
        <h1><a href="{{ "/" | absolute_url }}"><img style="max-height: 75px; max-width: 100px;" src="https://dcgc.io/logo_2.png"/></a><a href="{{ "/" | absolute_url }}"><img style="max-height: 75px; max-width: 75px;" src="https://dcgc.io/logo_hole.png"/></a></h1>
        <p align="justify">The opinions expressed herein are my own and do not represent my past, present and future employer’s views in any way. Nothing posted here should be considered official or sanctioned by my past, present or future employer or any other organization I’m affiliated with.</p>
        <p> <a href="https://github.com/dcgc"><img style="max-height: 50px; max-width: 50px;" src="https://dcgc.io/icone-github-rouge.png"/></a><a href="https://gitlab.com/dcgc"><img style="max-height: 50px; max-width: 50px;" src="https://dcgc.io/gitlab-logo.png"/></a><a href="https://twitch.tv/dcgcpt"><img style="max-height: 50px; max-width: 50px;" src="https://dcgc.io/twitch-logo.png"/></a><a href="https://www.youtube.com/channel/UCiiYqSS4U-Hh7UkvAP5kuNg"><img style="max-height: 50px; max-width: 50px;" align="top" src="https://dcgc.io/yt.png"/></a><a href="https://app.hackthebox.com/public/profile/309838"><img style="max-height: 50px; max-width: 50px;" src="https://dcgc.io/htb.png"/></a></p>
        <p> <a href="https://app.intigriti.com/researcher/profile/dcgc"><img style="max-height: 50px; max-width: 50px;" src="https://dcgc.io/intigriti.png"/></a><a href="https://bugcrowd.com/dcgc"><img style="max-height: 50px; max-width: 50px;" src="https://dcgc.io/bugcrowd.png"/></a><a href="https://www.upwork.com/freelancers/~01d3fce0f62d5e77ab"><img style="max-height: 50px; max-width: 50px;" src="https://dcgc.io/upwork.png"/></a><a href="https://www.freelancer.com/u/duartedcarvalho"><img style="max-height: 50px; max-width: 50px;" src="https://dcgc.io/freelancer.png"/></a><a href="https://tryhackme.com/p/dcgc"><img style="max-height: 50px; max-width: 50px;" src="https://dcgc.io/thm.png"/></a></p>
        <p> <a href="https://infosec.exchange/@dcgc"><img style="max-height: 50px; max-width: 50px;" src="https://dcgc.io/mastodon.png"/></a><a href="https://www.linkedin.com/in/dcgc/"><img style="max-height: 50px; max-width: 50px;" src="https://dcgc.io/linkedin.png"/></a><a href="https://hackerone.com/dcgc?type=user"><img style="max-height: 50px; max-width: 50px;" src="https://dcgc.io/hackerone.png"/></a>
      </header>
      <section>
      {{ content }}
        <i>Blog posts about Information Technology, Information Security Industry and Life. Whatever comes to my mind.</i>
        <hr style="width:100%;text-align:left;margin-left:0">
      </section>
      <section>
      <h3>Information Security Technical Articles/Notes</h3>
      <ul>
        <li><p style="margin:0"> <a href="{{ "/vm/" | absolute_url }}">Vulnerability Management</a></p></li>
      </ul> 
        <i>Pages containing reviews and notes about Information Technology and Information Security technologies. Whatever I am studying and working on.</i>
        <hr style="width:100%;text-align:left;margin-left:0">
      </section>
      <section>
        <h3>Vendors</h3>
        <ul>
           <li><p style="margin:0"> <a href="{{ "/vendor-questions/" | absolute_url }}">Vendor Standardized List of Questions</a></p></li> 
        </ul>
        <i>Pages containing reviews and notes about Information Technology Vendors products and services. Whatever Vendor I deal with in my professional career.</i>
        <hr style="width:100%;text-align:left;margin-left:0">
         </section>
        <footer>
        <p><b>Duarte Castelo Grande de Carvalho</b></p>
</footer>
    </div>
    <!--<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>-->
    <!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://dcgc.matomo.cloud/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src='//cdn.matomo.cloud/dcgc.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

  </body>
</html>
