<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <link rel="shortcut icon" type="image/png" href="https://dcgc.io/favicon.ico">
        <h1><a href="{{ "/" | absolute_url }}"><img src="https://dcgc.io/logo.png"/></a></h1>
        <p> Email: <a href="mailto:geral@dcgc.io">{{ site.email | default: site.github.email }}</a> <a href="https://dcgc.io/pgp.asc">PGP</a></p>
        <p>A Portuguese who fell in love with the Eastern Europe Information Security Scene and Culture, travelled to Poland, and found himself delighted with the country. </p>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><b>Duarte Castelo Grande de Carvalho (he/haw)</b></p>
        <p><i>Senior Security Engineer / Pentester / Bug Bounter / Freelance</i></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
